*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container{
  width: 950px;
  background-color: red;
  margin:0 auto;
}
.row{
  width: 300px;
  height: 372px;
  background-color:blue;
  border: 1px solid black;
  position: relative;
  display:inline-block;
}
img{
  position: absolute;
}
